<div id="wrap">
<!-- Section -->
<section>
	
	<!-- /Inicio Tabs -->
	<div class="tresColunas">

		<!-- Links -->
		<div class="col-md-2"> 
			<%= render 'layouts/navSide' %>
		</div>
		<!-- /Links -->

		<!-- Documentos, Alertas e Upload -->
		<div class="col-md-8 box-shadow--2dp"> 
			
		</div>
		<!-- /Documentos, Alertas e Upload -->

		<!-- Edit and Share -->
		<div class="col-md-3" id="editDiv">
			
		</div>
		<!-- /Edit and Share -->

	</div>
	<!-- /Fim Tabs -->

</section>
<!-- /Section -->
</div>