<!--/RODAPE-->
<footer>
  <div class="container">
    <div class="col-md-4">
      <body bgcolor="#111111"/>
      <p class="text-muted text-center">LifeHistory</p>
    </div>
    <div class="col-md-4">
      <p class="text-muted text-center">Desenvolvedores:</p>
      <p class="text-muted text-center">iMobilis - UFOP - ICEA</p>
    </div>
    <div class="col-md-4">
      <div class="social text-right"> 
        <a href="#" ><img src="assets/googleplus.png" alt="Google+" /></a>
        <a href="#" ><img src="assets/facebook.png" alt="Facebook" /></a>
        <a href="#" ><img src="assets/rss.png" alt="RSS" /></a>
        </div>
    </div>

  </div>
</footer>
<!--/RODAPE-->