<!--/RODAPE-->
<footer>
  <div class="container">
    <div class="col-md-4">
      <body bgcolor="#111111"/>
      <p class="text-muted text-center">LifeHistory</p>
    </div>
    <div class="col-md-4">
      <p class="text-muted text-center">Desenvolvedores:</p>
      <p class="text-muted text-center">iMobilis - UFOP - ICEA</p>
    </div>
    <div class="col-md-4">
      <div class="social text-right"> 
        <a href="#" ><%= image_tag "social/googleplus.png"%></a>
        <a href="#" ><%= image_tag "social/facebook.png"%></a>
        <a href="#" ><%= image_tag "social/rss.png"%></a>
        </div>
    </div>

  </div>
</footer>
<!--/RODAPE-->