<% if logged_in? %>
	<%= render 'users/show'%>
<% end %>
<ul class="nav nav-pills red nav-stacked">

<li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-menu-hamburger"> Contratos</a></li>

<li role="presentation" ><a href="rent"><span class="glyphicon glyphicon-home"> Aluguel</a></li>

<li role="presentation" ><a href="#"><span class="glyphicon glyphicon-credit-card"> Compra e Venda</a></li>

<li role="presentation" ><a href="#"><span class="glyphicon glyphicon-wrench"> Serviços</a></li>

<li role="presentation" ><a href="#"><span class="glyphicon glyphicon-duplicate"> Outros</a></li>

<li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"> Recibos</a></li>

<li role="presentation" ><a href="#"><span class="glyphicon glyphicon-barcode"> Pagamentos</a></li>

<li role="presentation" ><a href="#"><span class="glyphicon glyphicon-transfer"> Protocolos</a></li>

</ul>